@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  

  
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(15,48,38);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grecaptcha-badge{
  bottom: 90px !important;
}
/* #reamaze-widget {
  bottom: 80px !important;
  
} */
body {
  background-color: #031A13;

}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(78,181,150);
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a:hover{
  color:rgb(78,181,150);
}
@media (prefers-color-scheme: light) {
  :root {
    
    background-color: #ffffff;
  }
 
  button {
    background-color: #f9f9f9;
  }
}
